@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

html {
    scroll-behavior: smooth;
}
body
{
color:black;
}
div.scroll{     
                margin-left:auto;
               margin-right:auto;
                padding:10px 10px 30px 0px;
                background-color:#B0E0E6;
                width: 1200px;
                height: 500px;
                overflow-x: hidden;
                overflow-y: auto;
                text-align:justify;
            }
html,body {padding:0;margin:0;}
.wrap {
  font:30px Arial, san-serif;
color:black;
}
h1.q1-header {
  padding-left:0;
  margin:20px 0 0;
}
form .statement1 {
  display:block;
  font-size: 30px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .q1 {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .q1:last-of-type {border-bottom:0;}
form .q1:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .q1 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .q1 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .q1 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}

form .statement2 {
  display:block;
  font-size: 40px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert2 {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert2:last-of-type {border-bottom:0;}
form .likert2:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert2 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert2 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert2 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}



form .statement3 {
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert3{
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert3:last-of-type {border-bottom:0;}
form .likert3:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert3 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert3 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert3 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}




form .statement4 {
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert4 {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert4:last-of-type {border-bottom:0;}
form .likert4:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert4 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert4 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert4 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}




form .statement5 {
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert5 {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert5:last-of-type {border-bottom:0;}
form .likert5:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert5 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert5 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert5 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}




form .statement6 {
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert6 {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert6:last-of-type {border-bottom:0;}
form .likert6:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert6 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert6 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert6 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}




form .statement7{
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert7{
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert7:last-of-type {border-bottom:0;}
form .likert7:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert7 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert7 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert7 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}




form .statement8{
  display:block;
  font-size: 20px;
  font-weight: bold;
  padding: 30px 0 0 0;
  margin-bottom:10px;
}
form .likert7 {
  list-style:none;
  width:100%;
  margin:0;
  padding:0 0 35px;
  display:block;
  border-bottom:2px solid #efefef;
}
form .likert7:last-of-type {border-bottom:0;}
form .likert7:before {
  content: '';
  position:relative;
  top:11px;
  left:9.5%;
  display:block;
  background-color:#efefef;
  height:4px;
  width:78%;
}
form .likert7 li {
  display:inline-block;
  width:19%;
  text-align:center;
  vertical-align: top;
}
form .likert7 li input[type=radio] {
  display:block;
  position:relative;
  top:0;
  left:50%;
  margin-left:-6px;
  
}
form .likert7 li label {width:100%;}
form .buttons {
  margin:30px 0;
  padding:0 4.25%;
  text-align:right
} 
form .buttons button {
  padding: 5px 10px;
  background-color: #67ab49;
  border: 0;
  border-radius: 3px;
}
form .buttons .clear {background-color: #e9e9e9;}
form .buttons .submit {background-color: #67ab49;} 
form .buttons .clear:hover {background-color: #ccc;}
form .buttons .submit:hover {background-color: #14892c;} 